
cluster_update_config: 
  RANGER:
    RANGER_ADMIN:
      ranger_admin_max_heap_size: 1024
      ranger_authentication_method: "LDAP"
      ranger.ldap.url: "{{ auth_provider.ldap_url }}"
      ranger.ldap.bind.dn: "{{ auth_provider.ldap_bind_user_dn }}"
      ranger_ldap_bind_password: "{{ auth_provider.ldap_bind_password }}"
      ranger.ldap.user.dnpattern: "uid={0},{{ auth_provider.ldap_search_base.user }}"
      ranger.ldap.base.dn: "{{ auth_provider.ldap_base_dn }}"
      ranger.ldap.user.searchfilter: "(&(sAMAccountName={0})(objectClass=person))"
      ranger.ldap.group.searchfilter: "(&(member={0})(objectClass=group))"
      ranger.ldap.group.searchbase: "{{ auth_provider.ldap_search_base.group }}"
      ranger.ldap.group.roleattribute: "{{ auth_provider.ldap_attribute.group }}"
      ranger.ldap.referral: "follow"

    RANGER_TAGSYNC:
      ranger_tagsync_max_heap_size: 1024
    RANGER_USERSYNC:
      ranger_usersync_max_heap_size: 1024
      ranger.usersync.ldap.binddn: "{{ auth_provider.ldap_bind_user_dn }}"
      ranger.usersync.ldap.url: "{{ auth_provider.ldap_url }}"
      ranger_usersync_ldap_ldapbindpassword: "{{ auth_provider.ldap_bind_password }}"
      ranger.usersync.ldap.referral: follow
      ranger.usersync.ldap.username.caseconversion: lower
      ranger.usersync.ldap.groupname.caseconversion: lower
      ranger.usersync.ldap.grouphierarchylevels: 0
      ranger.usersync.group.memberattributename: "{{ auth_provider.ldap_attribute.member }}"
      ranger.usersync.group.nameattribute: "{{ auth_provider.ldap_attribute.group }}"
      ranger.usersync.group.objectclass: group
      ranger.usersync.group.searchbase: "{{ auth_provider.ldap_search_base.group }}"
      ranger.usersync.ldap.user.nameattribute: "{{ auth_provider.ldap_attribute.user }}"
      ranger.usersync.ldap.user.objectclass: person
      ranger.usersync.ldap.user.searchbase: "{{ auth_provider.ldap_search_base.user }}"
      ranger.usersync.source.impl.class: org.apache.ranger.ldapusersync.process.LdapUserGroupBuilder
      ranger.usersync.user.searchenabled: 'true'
      ranger.usersync.group.based.role.assignment.rules: "&ROLE_KEY_ADMIN:g:admins&ROLE_SYS_ADMIN:g:admins"

    LIVY:
      LIVY_SERVER_FOR_SPARK3:
        livy_max_heapsize: 536870912  

    HIVE:
      HIVEMETASTORE:
        hive_metastore_java_heapsize: 1073741824 
      HIVESERVER2:
        hiveserver2_java_heapsize: 2147483648     

    OOZIE:
      OOZIE_SERVER:
        oozie_java_heapsize: 1073741824

    ZOOKEEPER:
      SERVER:
        zookeeper_server_java_heapsize: 1073741824

    SPARK3_ON_YARN:
      SPARK3_YARN_HISTORY_SERVER:
        history_server_max_heapsize: 536870912

    SOLR:
      SOLR_SERVER:
        solr_java_heapsize: 26430406656
        solr_java_direct_memory_size: 26430406656

    HBASE:
      HBASETHRIFTSERVER:
        hbase_thriftserver_java_heapsize: 1073741824  
      MASTER:
        hbase_master_java_heapsize: 1073741824         
      REGIONSERVER:
        hbase_regionserver_java_heapsize: 33285996544  

    IMPALA:
      CATALOGD:
        catalogd_embedded_jvm_heapsize: 4294967296
      IMPALAD:
        impalad_embedded_jvm_heapsize: 4294967296
        impalad_memory_limit: 216133546803

    HDFS:
      BALANCER:
        balancer_java_heapsize: 1073741824
      DATANODE:
        datanode_java_heapsize: 4294967296       
      NAMENODE:
        namenode_java_heapsize: 6442450944       
      SECONDARY_NAMENODE:
        secondary_namenode_java_heapsize: 4294967296

    YARN:
      JOBHISTORY:
        mr2_jobhistory_java_heapsize: 1073741824  
      NODEMANAGER:
        node_manager_java_heapsize: 1073741824    
      RESOURCEMANAGER:
        resource_manager_java_heapsize: 1073741824  

    MGMT:
      EVENTSERVER:
        event_server_heapsize: 1073741824
      HOSTMONITOR:
        firehose_heapsize: 1073741824
      REPORTSMANAGER:
        headlamp_heapsize: 1073741824

    OZONE:
      OZONE_DATANODE:
        ozone_datanode_heap_size: 4096           
      OZONE_MANAGER:
        om_max_heap_size: 4096
      OZONE_RECON:
        ozone_recon_max_heap_size: 1024
      S3_GATEWAY:
        ozone_S3_gateway_max_heap_size: 1024
      STORAGE_CONTAINER_MANAGER:
        scm_max_heap_size: 4096

    ATLAS:
      ATLAS_SERVER:
        atlas_max_heap_size: 2147483648

    KNOX:
      KNOX_GATEWAY:
        gateway_heap_size: 1024

    QUEUEMANAGER:
      QUEUEMANAGER_STORE:
        config_service_max_heap_size: 2147483648

    RANGER_RMS:
      RANGER_RMS_SERVER:
        ranger_rms_max_heap_size: 1024

    RANGER_KMS:
      RANGER_KMS_SERVER:
        ranger_kms_max_heap_size: 1024

    PHOENIX:
      PHOENIX_QUERY_SERVER:
        phoenix_queryserver_max_heap_size: 2147483648

    CRUISE_CONTROL:
      CRUISE_CONTROL_SERVER:
        cruise_control_heap_size: 1024
