---



- name: Check if Knox is installed (directory exists)
  ansible.builtin.stat:
    path: /var/lib/knox/gateway
  register: knox_dir
- name: block modification shadow
  block:
    - name: Ensure 'shadow' group exists
      ansible.builtin.group:
        name: shadow
        state: present

    - name: Add user 'knox' to 'shadow' group
      ansible.builtin.user:
        name: knox
        groups: shadow
        append: yes

    - name: Change group of /etc/shadow to 'shadow'
      ansible.builtin.file:
        path: /etc/shadow
        group: shadow

    - name: Ensure group has read permission on /etc/shadow
      ansible.builtin.file:
        path: /etc/shadow
        mode: '0640'
  when: knox_dir.stat.exists