{
  "refName": "ks_indexer",
  "serviceType": "KS_INDEXER",
  "displayName": "Key-Search Indexer",
  "serviceConfigs": [
  ],
  "roleConfigGroups": [
    {
      "refName": "ks_indexer-HBASE_INDEXER-BASE",
      "roleType": "HBASE_INDEXER",
      "configs": [],
      "base": true
    }
  ]
}