{
  "refName": "omid",
  "serviceType": "OMID",
  "displayName": "OMID",
  "serviceConfigs": [
  ],
  "roleConfigGroups": [
    {
      "refName": "omid-OMID_TSO-BASE",
      "roleType": "OMID_TSO",
      "configs": [
      ],
      "base": true
    }
  ]
}