{
  "refName": "ranger_rms",
  "serviceType": "RANGER_RMS",
  "displayName": "RANGER_RMS",
  "serviceConfigs": [  
    {
      "name": "ranger_service",
      "value": "ranger"
    },
    {
      "name": "zookeeper_service",
      "value": "zookeeper"
    },
    {
      "name": "ranger_rms_authentication",
      "value": "simple"
    }
],
  "roleConfigGroups": [
    {
      "refName": "ranger_rms-RANGER_RMS_SERVER-BASE",
      "roleType": "RANGER_RMS_SERVER",
      "configs": [
        {
          "name": "ranger_rms_max_heap_size",
          "value": "{{ ranger_rms_max_heap_size | default('1024') }}"
        }

      ],
      "base": true
    }  
  ]
}