{
  "refName": "streams_messaging_manager",
  "serviceType": "STREAMS_MESSAGING_MANAGER",
  "displayName": "SMM",
  "serviceConfigs": [
      {
        "name": "smm_database_host",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.host }}"
      },
      {
        "name": "smm_database_port",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.port }}"
      },
      {
        "name": "smm_database_type",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.type | format_database_type }}"
      },
      {
        "name": "smm_database_name",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.name }}"
      },
      {
        "name": "smm_database_user",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.user }}"
      },
      {
        "name": "smm_database_password",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.password }}"
      }
  ],
  "roleConfigGroups": [
    {
      "refName": "streams_messaging_manager-STREAMS_MESSAGING_MANAGER_SERVER-BASE",
      "roleType": "STREAMS_MESSAGING_MANAGER_SERVER",
      "configs": [
      {% if kerberos_enabled %}
      {
        "name": "streams.messaging.manager.kerberos.name.rules",
        "value": "RULE:[2:$1@$0](streamsmsgmgr@{{krb5_realm|upper}})s/(.*)@{{krb5_realm|upper}}/streamsmsgmgr/"
      }
      {% endif %}
      {% if (replicator_min | int) < 3and kerberos_enabled %}
      ,
       {% endif %}
      {% if (replicator_min | int) < 3%}
      {
        "name": "streams.messaging.manager.internal.topics.replication.factor",
        "value": "{{replicator_min}}"
      }
      {% endif %}
      ],
      "base": true
    },
        {
      "refName": "streams_messaging_manager-STREAMS_MESSAGING_MANAGER_UI-BASE",
      "roleType": "STREAMS_MESSAGING_MANAGER_UI",
      "configs": [
      ],
      "base": true
    }    
  ]
}


