{% set service_dependencies = {
  'ZOOKEEPER': 'zookeeper',
  'KAFKA': 'kafka',
  'RANGER': 'ranger',
  'SCHEMAREGISTRY': 'schemaregistry',
  'STREAMS_REPLICATION_MANAGER': 'streams_replication_manager'
} %}

{
  "refName": "streams_messaging_manager",
  "serviceType": "STREAMS_MESSAGING_MANAGER",
  "displayName": "SMM",
  "serviceConfigs": [
      {% for svc, ref in service_dependencies.items() if svc in enabled_services %}
        {
          "name": "{{ ref }}_service",
          "ref": "{{ ref }}"
        }{% if not loop.last %},{% endif %}
      {% endfor %},
      {
        "name": "smm_database_host",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.host }}"
      },
      {
        "name": "smm_database_port",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.port }}"
      },
      {
        "name": "smm_database_type",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.type | format_database_type }}"
      },
      {
        "name": "smm_database_name",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.name }}"
      },
      {
        "name": "smm_database_user",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.user }}"
      },
      {
        "name": "smm_database_password",
        "value": "{{ databases.STREAMS_MESSAGING_MANAGER.password }}"
      },
      {
      "name": "kerberos.auth.enable",
      "value": "false"
    }
  ],
  "roleConfigGroups": [
    {
      "refName": "streams_messaging_manager-STREAMS_MESSAGING_MANAGER_SERVER-BASE",
      "roleType": "STREAMS_MESSAGING_MANAGER_SERVER",
      "configs": [
    
      {% if too_few_brokers %}
      {
        "name": "streams.messaging.manager.internal.topics.replication.factor",
        "value": 1
      }
      {% endif %}
      ],
      "base": true
    },
        {
      "refName": "streams_messaging_manager-STREAMS_MESSAGING_MANAGER_UI-BASE",
      "roleType": "STREAMS_MESSAGING_MANAGER_UI",
      "configs": [
      ],
      "base": true
    }    
  ]
}


