{
  "refName": "stub_dfs",
  "serviceType": "STUB_DFS",
  "displayName": "Stub DFS",
  "serviceConfigs": [

  ],
  "roleConfigGroups": [
    {
      "refName": "stub_dfs-GATEWAY-BASE",
      "roleType": "GATEWAY",
      "configs": [],
      "base": true
    },
    {
      "refName": "stub_dfs-STORAGEOPERATIONS-BASE",
      "roleType": "STORAGEOPERATIONS",
      "configs": [],
      "base": true
    }
  ]
}