version: '3.9'
# compose.yaml
services:
  cldr-ansible:
    image: localhost/cldr-ansible:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USERNAME: ${USERNAME}
        USER_UID: ${USER_UID}
        USER_GID: ${USER_GID}
    container_name: cldr-ansible
    hostname: cldr.cloudera.dev
    # Run as the host user's uid:gid for clean file ownership on bind mounts
    user: "${USER_UID}:${USER_GID}"
    working_dir: /home/${USERNAME}
    volumes:
      # Project root into the user's home
      - ../:/home/${USERNAME}:Z
    command: ["tail","-f","/dev/null"]
    pull_policy: never
    tty: true
    stdin_open: true