
- name: Set ports kerberos
  cm_api:
    endpoint: /clusters/{{ cluster_name | urlencode() }}/commands/configureForKerberos
    method: POST
    body: "{{ lookup('template', 'ports.j2', convert_data=False) }}"
    status_code: 200
    headers:
      accept: application/json
      Content-Type: application/json
  register: kerberos_response
  failed_when:
    - kerberos_response is failed
    - "'already an active' not in kerberos_response.content"
  ignore_errors: yes

- name: Show only the JSON response (ignore headers)
  debug:
    msg: "{{ kerberos_response }}"
    verbosity: 3

# - name: Generate missing Kerberos
#   cm_api:
#     endpoint: /cm/commands/generateCredentials
#     method: POST
#     status_code: 200
#     headers:
#       accept: application/json
#     body_format: json
#   register: kerberos_response
#   changed_when: false
#   ignore_errors: yes


 

# - name: Show only the JSON response (ignore headers)
#   debug:
#     msg: "{{ kerberos_response }}"
#     verbosity: 3