---



- name: Chown all certs for cloudera-scm user to allow certmanager to use it 
  ansible.builtin.file:
    path: "{{cmca_dir}}"
    state: directory
    owner: cloudera-scm
    group: cloudera-scm

- name: create auto tls
  ansible.builtin.file:
    path: "{{tls_autotls_location}}"
    state: directory
    owner: cloudera-scm
    group: cloudera-scm


- name: Check if password or key is used to connect to machines
  set_fact:
    use_password: "{{ true if node_password is defined and node_password|length > 0 else false }}"



- name: Set node_key on one line
  set_fact:
    node_key_one_line: "{{ lookup('file', ansible_ssh_private_key_file ) |  replace('\"', '\\\"' ) }}"
  when: not use_password

- name: Write autotls
  ansible.builtin.template:
    dest: "{{cmca_dir}}/autotls.json"
    src: auto-tls.json.j2

- name: Enable Auto-TLS
  cm_api:
    endpoint: "/cm/commands/generateCmca"
    method: POST
    body: "{{ lookup('template', 'auto-tls.json.j2') }}"
    timeout: 360
  ignore_errors: true



