clusters:
  - name: "{{ cluster_name }}"
    type: base
    repositories: "{{ repositories }}"

    host_templates:
      Master:
        HDFS: [NAMENODE, JOURNALNODE, FAILOVERCONTROLLER]
        YARN: [RESOURCEMANAGER,GATEWAY]
        ZOOKEEPER: [SERVER]
      Single:
        HDFS: [JOURNALNODE,BALANCER,GATEWAY]
        ZOOKEEPER: [SERVER]
        SPARK3_ON_YARN: [SPARK3_YARN_HISTORY_SERVER, GATEWAY]
        YARN: [JOBHISTORY]
        QUEUEMANAGER: [QUEUEMANAGER_STORE, QUEUEMANAGER_WEBAPP]
        HIVE: [HIVEMETASTORE,GATEWAY]
        TEZ: [GATEWAY]
      
      
      Worker:
        HDFS: [DATANODE, GATEWAY]
        YARN: [NODEMANAGER, GATEWAY]
        HIVE: [GATEWAY]
        SPARK3_ON_YARN: [GATEWAY]
        KAFKA: [KAFKA_BROKER,KAFKA_CONNECT,GATEWAY]

        NIFI: [GATEWAY]
        TEZ: [GATEWAY]
        
      Edge:
        RANGER_RMS: [ RANGER_RMS_SERVER]
        RANGER: [RANGER_ADMIN, RANGER_TAGSYNC, RANGER_USERSYNC]
        HDFS: [ GATEWAY, HTTPFS]
        HIVE_ON_TEZ: [HIVESERVER2, GATEWAY]
        KNOX: [KNOX_GATEWAY]
        INFRA_SOLR: [SOLR_SERVER]
        SPARK3_ON_YARN: [GATEWAY]
        YARN: [GATEWAY]
        NIFI: [GATEWAY]
        TEZ: [GATEWAY]
        HUE: [HUE_SERVER, KT_RENEWER]



      CFM:
        NIFI: [NIFI_NODE]
        HDFS: [GATEWAY]
        HIVE: [GATEWAY]
        YARN: [GATEWAY]
        SPARK3_ON_YARN: [GATEWAY]


      CFM_SINGLE:
        NIFI: [NIFI_NODE]
        NIFIREGISTRY: [NIFI_REGISTRY_SERVER]
        HDFS: [GATEWAY]
        HIVE: [GATEWAY]
        YARN: [GATEWAY]
        SPARK3_ON_YARN: [GATEWAY]


auth_provider:
    ldap_url: "ldaps://{{ ('krb5_server' in groups and groups['krb5_server'])| ternary(groups['krb5_server'][0], (krb5_kdc_host is defined and krb5_kdc_host) |ternary(krb5_kdc_host,None))}}:636"
    ldap_base_dn: "{{ base_dn }}"
    ldap_bind_user_dn: "{{ ldap_bind_dn }}"
    ldap_bind_password: "{{ ipaadmin_password | default(lookup('env', 'IPA_PASSWORD', default='Undefined')) }}"
    ldap_search_base:
      user: "{{ user_dn }}"
      group: "{{ group_dn }}"
      common: "{{ base_dn }}"
    ldap_object_class:
      user: "person"
      group: "groupofnames"
    ldap_search_filter:
     user: uid={0}
     member: (member={0})
    ldap_attribute:
      user: "uid"
      group: "cn"
      member: "member"
      user_member: "memberOf"
    type: LDAP



