
#20-80 workers

cluster_name: "{{ cluster_name | default('medium') }}"
cldr_versions:
  cm:
    version: "7.13.1.400"
    os: "redhat9"
  cdh:
    version: "7.1.9.1059"
    parcel: "CDH-7.1.9-1.cdh7.1.9.p1059.70393529-el9.parcel"
  spark3:
    version: "3.3.7191000.9"
    parcel: "SPARK3-3.3.2.3.3.7191000.9-2-1.p0.65266237-el9.parcel"
  # cfm:
  #   version: "2.1.7.2000-69"
  #   parcel: "CFM-2.1.7.2000-69-el9.parcel"
  #   csds:
  #     - "NIFIREGISTRY-1.28.1.2.1.7.2000-69.jar"
  #     - "NIFI-1.28.1.2.1.7.2000-69.jar"
  # csa:
  #   version: "1.15.2.0"
  #   flink_jar: "FLINK-1.20.1-csa1.15.2.0-67992430.jar"
  #   ssb_jar:   "SQL_STREAM_BUILDER-1.20.1-csa1.15.2.0-67992430.jar"
  #   flink_parcel: "FLINK-1.20.1-csa1.15.2.0-67992430-el9.parcel"
 # cluster_topology.yml

clusters:
  - name: "{{ cluster_name }}"
    type: base

    host_templates:

      Master:
        HDFS: [NAMENODE, JOURNALNODE, FAILOVERCONTROLLER]
        YARN: [RESOURCEMANAGER]
        QUEUEMANAGER: [QUEUEMANAGER_WEBAPP]        # UI QM
        ZOOKEEPER: [SERVER]
        KUDU: [KUDU_MASTER]
        HBASE: [MASTER]
        SCHEMAREGISTRY: [SCHEMA_REGISTRY_SERVER]
        OZONE: [OZONE_MANAGER, STORAGE_CONTAINER_MANAGER]


      Master3:
        ZOOKEEPER: [SERVER]
        HDFS: [JOURNALNODE]                        # disque dédié recommandé
        YARN: [JOBHISTORY]
        SPARK_ON_YARN: [SPARK_YARN_HISTORY_SERVER]
        KUDU: [KUDU_MASTER]                        # nombre impair pour HA
        HBASE: [MASTER]
        OZONE: [OZONE_MANAGER, STORAGE_CONTAINER_MANAGER]

      Utility1:
        #CM: [CLOUDERA_MANAGER_SERVER]
        CRUISE_CONTROL: [CRUISE_CONTROL_SERVER]
        HIVE: [HIVEMETASTORE]
        RANGER: [RANGER_ADMIN, RANGER_TAGSYNC, RANGER_USERSYNC]
        RANGER_KMS: [RANGER_KMS_SERVER]
        # RANGER_RMS: [RANGER_RMS_SERVER]          # si service présent
        ATLAS: [ATLAS_SERVER]
        INFRA_SOLR: [SOLR_SERVER]                  # Solr pour Atlas/Infra
        STREAMS_MESSAGING_MANAGER: [STREAMS_MESSAGING_MANAGER_SERVER, STREAMS_MESSAGING_MANAGER_UI]
        STREAMS_REPLICATION_MANAGER: [STREAMS_REPLICATION_MANAGER_SERVICE]

      Utility2:
        MGMT: [SERVICEMONITOR, HOSTMONITOR, EVENTSERVER, ALERTPUBLISHER, REPORTSMANAGER]
        HIVE: [HIVEMETASTORE]
        IMPALA: [CATALOGSERVER, STATESTORE]
        OOZIE: [OOZIE_SERVER]
        RANGER: [RANGER_ADMIN, RANGER_TAGSYNC, RANGER_USERSYNC]
        RANGER_KMS: [RANGER_KMS_SERVER]
        # RANGER_RMS: [RANGER_RMS_SERVER]
        ATLAS: [ATLAS_SERVER]
        INFRA_SOLR: [SOLR_SERVER]

      GatewayA:
        HUE: [HUE_SERVER]
        HIVE_ON_TEZ: [HIVESERVER2]
        PHOENIX: [PHOENIX_QUERY_SERVER]
        OZONE: [S3_GATEWAY]
        KNOX: [KNOX_GATEWAY]                       # Knox #1 (HA)
        # Gateways génériques (clients)
        HDFS: [GATEWAY]
        HBASE: [GATEWAY]
        YARN: [GATEWAY]
        IMPALA: [GATEWAY]
        KAFKA: [GATEWAY]
        TEZ: [GATEWAY]
        SCHEMAREGISTRY: [GATEWAY]

      GatewayB:
        HIVE_ON_TEZ: [HIVESERVER2]
        OZONE: [S3_GATEWAY]
        KNOX: [KNOX_GATEWAY]                       # Knox #2 (HA)
        HDFS: [GATEWAY]
        HBASE: [GATEWAY]
        YARN: [GATEWAY]
        IMPALA: [GATEWAY]
        KAFKA: [GATEWAY]
        TEZ: [GATEWAY]
        SCHEMAREGISTRY: [GATEWAY]

      Worker:
        HDFS: [DATANODE]
        YARN: [NODEMANAGER]
        IMPALA: [IMPALAD]
        KUDU: [KUDU_TSERVER]
        KAFKA: [KAFKA_BROKER, KAFKA_CONNECT]       # ≥ 3 brokers recommandés
        HBASE: [REGIONSERVER]
        INFRA_SOLR: [SOLR_SERVER]                  # si Search, viser ≥ 3
        STREAMS_REPLICATION_MANAGER: [STREAMS_REPLICATION_MANAGER_DRIVER]
        OZONE: [OZONE_DATANODE]

