
#20-80 workers

cluster_name: "{{ cluster_name | default('medium') }}"
cldr_versions:
  cm:
    version: "7.13.1.500"
    os: "redhat9"
  cdh:
    version: "7.1.9.1059"
    parcel: "CDH-7.1.9-1.cdh7.1.9.p1059.70393529-el9.parcel"
  spark3:
    version: "3.3.7191000.9"
    parcel: "SPARK3-3.3.2.3.3.7191000.9-2-1.p0.65266237-el9.parcel"
  # cfm:
  #   version: "2.1.7.2000-69"
  #   parcel: "CFM-2.1.7.2000-69-el9.parcel"
  #   csds:
  #     - "NIFIREGISTRY-1.28.1.2.1.7.2000-69.jar"
  #     - "NIFI-1.28.1.2.1.7.2000-69.jar"
  # csa:
  #   version: "1.15.2.0"
  #   flink_jar: "FLINK-1.20.1-csa1.15.2.0-67992430.jar"
  #   ssb_jar:   "SQL_STREAM_BUILDER-1.20.1-csa1.15.2.0-67992430.jar"
  #   flink_parcel: "FLINK-1.20.1-csa1.15.2.0-67992430-el9.parcel"
 # cluster_topology.yml

clusters:
  - name: "{{ cluster_name }}"
    type: base

    host_templates:

      Master1:
        HDFS: [NAMENODE, JOURNALNODE, FAILOVERCONTROLLER, GATEWAY]
        YARN: [RESOURCEMANAGER, QUEUEMANAGER_STORE, QUEUEMANAGER_WEBAPP, JOBHISTORY, GATEWAY]
        ZOOKEEPER: [SERVER]
        KUDU: [KUDU_MASTER]
        HBASE: [MASTER, HBASETHRIFTSERVER, HBASERESTSERVER, GATEWAY]
        SCHEMAREGISTRY: [SCHEMA_REGISTRY_SERVER, GATEWAY]
        OZONE: [OZONE_MANAGER, STORAGE_CONTAINER_MANAGER, GATEWAY, S3_GATEWAY]
        GATEWAY: [GATEWAY]

      Master2:
        HDFS: [NAMENODE, JOURNALNODE, FAILOVERCONTROLLER, GATEWAY]
        YARN: [RESOURCEMANAGER, QUEUEMANAGER_STORE, QUEUEMANAGER_WEBAPP, GATEWAY]
        ZOOKEEPER: [SERVER]
        KUDU: [KUDU_MASTER]
        HBASE: [MASTER, HBASETHRIFTSERVER, HBASERESTSERVER, GATEWAY]
        SCHEMAREGISTRY: [SCHEMA_REGISTRY_SERVER, GATEWAY]
        OZONE: [OZONE_MANAGER, STORAGE_CONTAINER_MANAGER, GATEWAY]
        GATEWAY: [GATEWAY]

      Master3:
        HDFS: [JOURNALNODE, GATEWAY]
        ZOOKEEPER: [SERVER]
        KUDU: [KUDU_MASTER]
        SPARK3_ON_YARN: [SPARK3_YARN_HISTORY_SERVER, GATEWAY]
        OZONE: [OZONE_MANAGER, STORAGE_CONTAINER_MANAGER, GATEWAY]
        GATEWAY: [GATEWAY]

      Utility1:
        CM: [CLOUDERA_MANAGER]
        MGMT: [MGMT_SERVICE]
        KAFKA: [CRUISE_CONTROL_SERVER, GATEWAY]
        STREAMS_MESSAGING_MANAGER: [STREAMS_MESSAGING_MANAGER_UI, STREAMS_MESSAGING_MANAGER_SERVER]
        STREAMS_REPLICATION_MANAGER: [STREAMS_REPLICATION_MANAGER_SERVICE, STREAMS_REPLICATION_MANAGER_DRIVER]
        HIVE: [HIVEMETASTORE, GATEWAY]
        IMPALA: [CATALOGSERVER, STATESTORE, GATEWAY]
        OOZIE: [OOZIE_SERVER]
        RANGER: [RANGER_ADMIN, RANGER_TAGSYNC, RANGER_USERSYNC, RANGER_KMS_SERVER, RANGER_RMS_SERVER]
        ATLAS: [ATLAS_SERVER]
        INFRA_SOLR: [SOLR_SERVER]
        KNOX: [KNOX_GATEWAY]
        GATEWAY: [GATEWAY]

      Utility2:
        HIVE: [HIVEMETASTORE, GATEWAY]
        RANGER: [RANGER_ADMIN, RANGER_TAGSYNC, RANGER_USERSYNC, RANGER_KMS_SERVER, RANGER_RMS_SERVER]
        ATLAS: [ATLAS_SERVER]
        INFRA_SOLR: [SOLR_SERVER]
        KNOX: [KNOX_GATEWAY]
        GATEWAY: [GATEWAY]

      Gateway:
        HUE: [HUE_SERVER, HUE_LOAD_BALANCER]
        HIVE_ON_TEZ: [HIVESERVER2, GATEWAY]
        PHOENIX: [PHOENIX_QUERY_SERVER, GATEWAY]
        S3: [S3_GATEWAY]
        KNOX: [KNOX_GATEWAY]
        TEZ: [GATEWAY]
        LIVY_FOR_SPARK3: [LIVY_SERVER_FOR_SPARK3]
        LIVY: [LIVY_SERVER, GATEWAY]
        YARN: [GATEWAY]
        GATEWAY: [GATEWAY]

      Worker:
        HDFS: [DATANODE, GATEWAY]
        YARN: [NODEMANAGER, GATEWAY]
        IMPALA: [IMPALAD]
        KUDU: [KUDU_TSERVER]
        KAFKA: [KAFKA_BROKER, KAFKA_CONNECT, GATEWAY]
        HBASE: [REGIONSERVER, GATEWAY]
        SOLR: [SOLR_SERVER]
        STREAMS_REPLICATION_MANAGER: [STREAMS_REPLICATION_MANAGER_DRIVER]
        OZONE: [OZONE_DATANODE, GATEWAY]
        TEZ: [GATEWAY]
        SPARK3_ON_YARN: [GATEWAY]
        HIVE_ON_TEZ: [GATEWAY]
        GATEWAY: [GATEWAY]


